<!DOCTYPE html>
<html>
<head>
  <title>KittensOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if is_logged_in?%>
    <%= link_to 'Logout', logout_path, :method => :delete %>
  <% end %>
  
  <%= yield %>

</body>
</html>
