<!DOCTYPE html>
<html>
<head>
  <title>KittensOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/main_menu' %>



  <div class="container body">
    <% if flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <%= flash[:alert] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Idiot!</strong> <%= flash[:error] %>
      </div>
    <% end %>

    <% unless is_logged_in? %>
      <%= render "shared/login_form" %>
      <%= render "shared/user_signup_form" %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
